{% extends "bbs_base.html" %}

{% block title %}
私信详细页
{% endblock %}

{% block main_content %}
    <div class="topic-panel">
        <div class="header">
            <ol class="breadcrumb about px-0">
                <li class="breadcrumb-item"><a href="{{ url_for('topic.index') }}">主页</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('message.index') }}">私信列表</a></li>
                <li class="breadcrumb-item active">私信详细</li>
            </ol>
        </div>


        <div class="topic_content">
            <div>
                <h5>
                    标题：{{ message.title }}
                </h5>

                <p>
                    发送者：<a href="{{ url_for('main.profile', username=message.user().username) }}">{{ message.user().username }}</a>
                </p>

                <p>
                    内容：{{ message.content }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
