{% extends "bbs_base.html" %}

{% block title %}
    注册
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form class="form col-6" method="post" action="{{ url_for('auth.register') }}">
            <div class="form-group">
                <label class="col-form-label mt-4" for="username">用户名</label>
                <input type="text" class="form-control" placeholder="用户名" name="username" id="username">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="password">密码</label>
                <input type="password" class="form-control" placeholder="密码" name="password" id="password">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-md" value="注册">

                <a href="{{ url_for('auth.login') }}">已注册？ 登录</a>
            </div>

            <div class="form-group">
                {{ result }}
            </div>
        </form>


    </div>
{% endblock %}