{% extends "bbs_base.html" %}

{% block title %}
关于我们
{% endblock %}

{% block main_content %}
    <div class="topic-panel">
        <div class="header">
            <ol class="breadcrumb about px-0">
                <li class="breadcrumb-item"><a href="{{ url_for('topic.index') }}">主页</a></li>
                <li class="breadcrumb-item active">关于</li>
            </ol>
        </div>

        <div class="topic_content">
            <div class="markdown-text">
                <h3>关于</h3>
                <p>
                    {{ about.content|default('这是关于 bbs 论坛的简介，简简单单') }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
