{% extends "bbs_base.html" %}

{% block title %}
    {{ topic.id }} detail
{% endblock %}

{% block main_content %}
    <div class="topic-panel">
        <div class="header topic_header">
            <span class="topic_full_title">
                {{ topic.title }}
            </span>
            <div class="topic-changes">
                <span> 发布于 {{ topic.ut }}</span>
                <span> 作者 {{ topic.user().username }}</span>
                <span> n 次浏览</span>
                <span> 来自 {{ topic.board().name }} </span>
            </div>
        </div>

        <div class="topic_content">
            <p>
                {{ topic.content }}
            </p>
        </div>
    </div>

    {% if topic.replies() != [] %}
        <div class="topic-panel border-light my-3">
            <div class="header">
                <span>
                    {{ topic.replies()|count }} 回复
                </span>
            </div>

            {% for r in topic.replies() %}
                <div class="comment-item">
                    <p class="comment-item-text">
                        {{ r.user().username }} @ {{ r.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if user != None %}
        <div>
            <form class="form-horizontal" method="post" action="{{ url_for('reply.add') }}">
                <input type="hidden" name="topic_id" value="{{ topic.id }}">

                <div class="control-group">
                    <label class="control-label">评论</label>
                    <div class="controls">
                        <textarea name="content" cols="30" rows="2"></textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" class="span-primary" value="添加评论">
                </div>
            </form>
        </div>
    {% endif%}
{% endblock %}


{% block sidebar %}
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header">作者</div>
        <div class="card-body">
            <a class="user_avatar dark" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                </svg>
            </a>
            <span class="user_name">
                <a class="dark" href="#">{{ topic.user().username }}</a>
            </span>
            <div class="mt-2">
                <span class="signature">
                    用户签名
                </span>
            </div>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header">作者其他话题</div>
        <div class="card-body">
            <div class="card-text">
                <a class="dark topic_title" href="{{ url_for('topic.index') }}">首页首页首页首页首页首页</a>
            </div>
        </div>
    </div>
{% endblock %}
