{% extends "bbs_base.html" %}

{% block title %}
Topic
{% endblock %}

{% block main_content %}
    <div class="panel">
        <div class="topic-nav px-2 py-2">
                <a class="topic-tab {% if request.args.get('board_id', '') == '' %}current-tab{% endif %}" href="{{ url_for('topic.index') }}">全部</a>
            {% for b in boards %}
                    <a class="topic-tab {% if request.args.get('board_id', '') == b.str_id() %}current-tab{% endif %}" href="{{ url_for('topic.index', board_id=b.id) }}">{{ b.name }}</a>
            {% endfor %}
        </div>

        <ui class="topic_list list-group">
            {% for t in topics %}
            <li class="list-group-item">
              <a class="user_avatar pull-left" href="#">
                  <img src="{{ url_for('main.uploads', filename=t.user().user_avatar) }}" title="{{ t.user().username }}">
              </a>

                <span class="reply_count pull-left">
                    <span class="count_of_replies" title="回复数">
                        {{ t.replies()|count }}
                    </span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="点击数">
                        {{ t.views }}
                    </span>
                </span>

                <span class="topiclist-tab">{{ t.board().name }}</span>
                <a class="dark topic_title" href="{{ url_for('topic.detail', id=t.id) }}">{{ t.title }}</a>
            </li>
            {% endfor %}
        </ui>
    </div>

    <a href="{{ url_for('topic.add') }}">添加新的话题</a>
    {% if user.role == 1 %}
    <a href="{{ url_for('board.add') }}">添加新的板块</a>
    <a href="{{ url_for('board.manage') }}">管理板块</a>
    <a href="{{ url_for('admin.settings') }}">管理网站简介</a>
    {% endif %}
{% endblock %}
