{% extends "bbs_base.html" %}

{% block title %}
Topic
{% endblock %}

{% block main_content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('board_id', '') == '' %}active{% endif %}" href="{{ url_for('topic.index') }}">全部</a>
        </li>
        {% for b in boards %}
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('board_id', '') == b.str_id() %}active{% endif %}" href="{{ url_for('topic.index', board_id=b.id) }}">{{ b.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr class="my-3">

    <div class="panel">
        <ui class="list-group">
            {% for t in topics %}
            <li class="list-group-item">
                <a href="{{ url_for('topic.detail', id=t.id) }}">{{ t.title }}</a>
            </li>
            {% endfor %}
        </ui>
    </div>
{% endblock %}
