{% extends "bbs_base.html" %}

{% block title %}
Topic
{% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('topic.index') }}">全部</a>
        </li>
        {% for b in boards %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('topic.index', board_id=b.id) }}">{{ b.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="panel">
        <div class="topic-list" style="border: 1px solid #ccc">
            {% for t in topics %}
            <div class="topic-item">
                <a href="{{ url_for('topic.detail', id=t.id) }}">{{ t.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ url_for('topic.add') }}">添加新话题</a>
    <a href="{{ url_for('board.add') }}">添加新版块</a>
{% endblock %}
